  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar" STYLE="background-color:#1f3040;">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="/application/views/dist/img/ae.png" alt="Aternity">
        </div>
        <div class="pull-left info">
          <p> <small class="label pull-right" style="background:#f7296e"> ROMA-NET NETWORK</small></p>     
        </div>
      </div>
      <br/>
      <ul class="sidebar-menu" data-widget="tree">
		  
       <li class="header" style="color:white;"> <center><h4>Dashboards</h4></center></li>
        
        <li class="">
          <a href="">
            <i class="fa  fa-users"></i> <span>For User</span>
            <span class="pull-right-container">
              <small class="label pull-right bg-yellow">offline</small>
            </span>
          </a>
        </li>
        
        
        <li class="">
          <a href="">
            <i class="fa fa-exchange"></i> <span>For Trader</span>
            <span class="pull-right-container">
              <small class="label pull-right bg-yellow">offline</small>
            </span>
          </a>
        </li>
        
        <li>
          <a href="/">
            <i class="fa fa-industry"></i> <span>For Miner</span>
            <span class="pull-right-container">
              <small class="label pull-right bg-yellow"></small>
              <small class="label pull-right bg-green">online</small>
              <small class="label pull-right bg-red"></small>
            </span>
          </a>
          </li>
          
          <li>
          <a href="/dev">
            <i class="glyphicon glyphicon-console"></i> <span>For Developer</span>
            <span class="pull-right-container">
              <small class="label pull-right bg-green">online</small>
            </span>
          </a>
        </li>
        
     
         
          <li class="header" style="color:white;"> <center><h4>Data Tracking</h4></center></li>  
          
          <li>
          <a href="/aens">
            <i class="glyphicon glyphicon-user"></i> <span>AENS</span>
            <span class="pull-right-container">   
				 <small class="label pull-right bg-blue">beta</small>
            </span>
          </a>
        </li>
        
         <li>
          <a href="/aepps">
            <i class="glyphicon glyphicon-leaf"></i> <span>AEPPS</span>
            <span class="pull-right-container">   
				 <small class="label pull-right bg-green">online</small>
            </span>
          </a>
        </li>
        
          <li>
          <a href="/block">
            <i class="fa fa-cubes"></i> <span>Blocks</span>
            <span class="pull-right-container">   
				 <small class="label pull-right bg-green">online</small>           
            </span>
          </a>
        </li>
                
           <li>
          <a href="/network">
            <i class="fa fa-wifi"></i> <span>Network Status</span>
            <span class="pull-right-container">   
				 <small class="label pull-right bg-green">online</small>
            </span>
          </a>
        </li>
          
          <li>
          <a href="">
            <i class="glyphicon glyphicon-eye-open"></i> <span>Oracles</span>
            <span class="pull-right-container">   
				 <small class="label pull-right bg-yellow">offline</small>
            </span>
          </a>
        </li>
        
        
          
         <li>
          <a href="/address/wealth500">
            <i class="fa  fa-bar-chart"></i> <span>Popular Stats</span>
            <span class="pull-right-container">   
				<small class="label pull-right bg-blue">half-online</small>
            </span>
          </a>
        </li>
        
          <li>
          <a href="">
            <i class="glyphicon glyphicon-sort"></i> <span>State Channels</span>
            <span class="pull-right-container">   
				 <small class="label pull-right bg-yellow">offline</small>
            </span>
          </a>
        </li>
                
         <li>
          <a href="/transaction">
            <i class="glyphicon glyphicon-random"></i> <span>Transactions</span>
            <span class="pull-right-container">   
				 <small class="label pull-right bg-green">online</small>
            </span>
          </a>
        </li>
        
                  
      
        
      <li class="header" style="color:white;"> <center><h4>Links</h4></center></li>         
        
        <li><a href="https://www.aeternity.com" target="_blank"><i class="fa fa-circle-o text-aqua"></i> <span>Aeternity</span></a></li>
        <li><a href="https://www.aeternity.com" target="_blank"><i class="fa fa-circle-o text-aqua"></i> <span>Aeternity Twitter</span></a></li>
        <li><a href="https://weibo.com/aechinacn" target="_blank"><i class="fa fa-circle-o text-aqua"></i> <span>Aeternity Weibo(Chinese)</span></a></li>
         <li><a href="https://www.beepool.org/" target="_blank"><i class="fa fa-circle-o text-aqua"></i> <span>Beepool</span></a></li>
     
        </ul>
       
      
 </section>
    <!-- /.sidebar -->
  </aside>
